<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ProofIME</string>
	<key>CFBundleExecutable</key>
	<string>ProofIMEInputMethod</string>
	<key>CFBundleIdentifier</key>
	<string>com.tranguyeenn.inputmethod.ProofIME</string>
	<key>CFBundleName</key>
	<string>ProofIMEInputMethod</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<array>
			<dict>
				<key>TISInputSourceCategory</key>
				<string>TISCategoryKeyboardInputSource</string>
				<key>TISInputSourceID</key>
				<string>com.tranguyeenn.inputmethod.ProofIME</string>
				<key>TISInputSourceLanguages</key>
				<array>
					<string>en</string>
				</array>
				<key>TISInputSourceLocalizedName</key>
				<string>ProofIME</string>
				<key>TISInputSourceType</key>
				<string>TISTypeKeyboardInputMethod</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputMethodCharacterRepertoireKey</key>
				<array>
					<string>Latn</string>
				</array>
				<key>tsInputMethodIconFileKey</key>
				<string>proofime512.png</string>
			</dict>
		</array>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.tranguyeenn.inputmethod.ProofIME</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>ProofIMEConnection</string>
	<key>InputMethodServerControllerClass</key>
	<string>InputController</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISInputSourceCategory</key>
	<string>TISCategoryKeyboardInputSource</string>
	<key>TISInputSourceID</key>
	<string>com.tranguyeenn.inputmethod.ProofIME</string>
	<key>TISInputSourceLanguages</key>
	<array>
		<string>en</string>
	</array>
	<key>TISInputSourceLocalizedName</key>
	<string>ProofIME</string>
	<key>TISInputSourceType</key>
	<string>TISTypeKeyboardInputMethod</string>
</dict>
</plist>
